<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1
      style="
        font-family:'Lucida Sans';
        color: aliceblue;
        font-size: x-large;
      "
    >
      {{ "title-heading" | translate: {} }}
    </h1>
    

    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ "language" | translate: {} }}
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button" (click)="changeLanguage('en-US')" [class.active]="translateService.currentLang !== 'pt-BR'">English</button></li>
        <li><button class="dropdown-item" type="button" (click)="changeLanguage('pt-BR')" [class.active]="translateService.currentLang === 'pt-BR'">Português</button></li>
      </ul>
    </div>
    
    <div class="d-flex">
      <button
        type="button"
        (click)="clickAddEmployee()"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-success"
      >
        {{ "add-employee" | translate: {} }}
      </button>
    </div>
  </div>
</nav>

<table class="table mt-3; table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">{{ "employee-id" | translate: {} }}</th>
      <th scope="col">{{ "first-name" | translate: {} }}</th>
      <th scope="col">{{ "last-name" | translate: {} }}</th>
      <th scope="col">{{ "mobile-no" | translate: {} }}</th>
      <th scope="col">{{ "salary" | translate: {} }}</th>
      <th scope="col">{{ "action" | translate: {} }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{ row.id }}</td>
      <td>{{ row.firstName }}</td>
      <td>{{ row.lastName }}</td>
      <td>{{ row.mobile }}</td>
      <td>{{ row.salary }}</td>
      <td>
        <button
          style="color: aliceblue"
          (click)="onEdit(row)"
          class="btn btn-info btn-primary"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
        {{ "edit" | translate: {} }}
        </button>
        <button (click)="clearEmployee(row)" class="btn btn-danger mx-3">
            {{ "delete" | translate: {} }}
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{ "employee-details" | translate: {} }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mobile no</label
            >
            <input
              type="text"
              formControlName="mobile"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input
              type="int"
              formControlName="salary"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
        {{ "close" | translate: {} }}
        </button>
        <button
          type="button"
          *ngIf="showSubmit"
          (click)="postEmployeeDetails()"
          class="btn btn-primary"
        >
        {{ "submit" | translate: {} }}
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateEmployeeDetails()"
          class="btn btn-primary"
        >
        {{ "update" | translate: {} }}
        </button>
      </div>
    </div>
  </div>
</div>
